[Desktop Entry]
Type=Application
Name=Typewriter
GenericName=Typewriter Simulator
Comment=Write on a simulated mechanical typewriter
Exec=typewriter %f
Icon=typewriter
Terminal=false
Categories=Office;WordProcessor;
Keywords=typewriter;writing;focus;
MimeType=application/x-typewriter-folder;
StartupWMClass=typewriter
